@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
*/

/* https://developer.mozilla.org/ko/docs/Web/CSS/@media/prefers-color-scheme */

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* 
  기존의 스타일을 변경할 때 @layers 사용
  https://velog.io/@kihyun/Tailwind-CSS 
*/
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
